* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(186, 168, 98);
    display: flex;
    justify-content: center;
    align-items: center;
}
.logar{
    padding: 200px 100px;
    gap: 20px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}